---
import WaveBG from '$/components/layouts/WaveBG.astro'
---

<body
  class="font-sans text-gray-700 dark:text-gray-200 subpixel-antialiased min-h-screen bg-gray-100 dark:bg-gray-800"
>
  <WaveBG />
  <div class="transition-colors">
    <main class="mx-auto max-w-4xl px-3 lg:px-0">
      <slot />
    </main>
  </div>
</body>
