---
import { SITE } from '$/config'
---

<footer class="footer">
  <p class="footer__copyright">© 2021 {SITE.name} All Right Reserved.</p>
</footer>
<style>
  .footer {
    @apply py-6 border-t;
  }
  .footer__copyright {
    @apply text-center text-sm md:text-base;
  }
</style>
