---
import BaseLayout from './BaseLayout.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'
import Nav from './Nav.astro'
import Portal from '../elements/Portal.astro'
import SearchModal from '../elements/SearchModal.svelte'

const { isPostPage = false } = Astro.props as { isPostPage: boolean }
---

<BaseLayout>
  <br class="my-4" />
  <Header />
  <Nav />
  <div
    class:list={[
      'min-h-[580px]',
      isPostPage && 'max-w-2xl mx-auto mt-4 md:mt-0',
    ]}
  >
    <slot />
  </div>
  <br class="my-4" />
  <Footer />
  <Portal>
    <SearchModal client:load />
  </Portal>
</BaseLayout>
