---
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/elements/PostPreviewList.astro'
import {
  makeQiitaPosts,
  makeZennPosts,
  makeNotePosts,
  sortPostsByPubDate,
  fromCollectionToFrontmatters,
} from '$/utils'
import { PAGE_SIZE } from '$/config'
import { getCollection } from 'astro:content'

const title = 'Home'
const description = 'mimuの個人技術ブログ'

const collection = await getCollection('owned'),
  qiitaPosts = await makeQiitaPosts(),
  zennPosts = await makeZennPosts(),
  notePosts = await makeNotePosts()
const ownedPosts = fromCollectionToFrontmatters(collection)

const posts = sortPostsByPubDate([
  ...ownedPosts,
  ...qiitaPosts,
  ...zennPosts,
  ...notePosts,
]).slice(0, PAGE_SIZE)
---

<DefaultPageLayout content={{ title, description }}>
  <PostPreviewList posts={posts} />
  <div class="page__actions">
    <a class="action__go-to-blog" href="/blog" title="All Posts">
      All Posts &rarr;
    </a>
  </div>
</DefaultPageLayout>

<style>
  .page__actions {
    @apply flex justify-end;
  }
  .action__go-to-blog {
    @apply py-4 hover:underline font-menlo;
  }
</style>
