---
export const prerender = true

import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/elements/PostPreviewList.astro'
import {
  makeQiitaPosts,
  makeZennPosts,
  makeNotePosts,
  sortPostsByPubDate,
  fromCollectionToFrontmatters,
} from '$/utils'
import { PAGE_SIZE } from '$/config'
import { getCollection } from 'astro:content'

const title = "mimu's blog"
const description = "mimu's personal tech blog"

const collection = await getCollection('owned'),
  qiitaPosts = await makeQiitaPosts(),
  zennPosts = await makeZennPosts(),
  notePosts = await makeNotePosts()
const ownedPosts = fromCollectionToFrontmatters(collection)

const posts = sortPostsByPubDate([
  ...ownedPosts,
  ...qiitaPosts,
  ...zennPosts,
  ...notePosts,
]).slice(0, PAGE_SIZE)
---

<DefaultPageLayout
  content={{ title, description }}
  showPageHeader={false}
  enableTransition={true}
>
  <PostPreviewList posts={posts} heading="recent posts" />
  <div class="page__actions">
    <a class="action__go-to-blog" href="/blog" title="All Posts">
      All Posts &rarr;
    </a>
  </div>
</DefaultPageLayout>

<style>
  .author-card {
    @apply h-48 w-48 md:h-56 bg-theme-primary dark:bg-theme-dark-primary rounded-full md:rounded-md shadow-lg;
  }
  .author-card img {
    @apply rounded-full h-48 w-48 md:h-56;
  }
  .page__actions {
    @apply flex justify-center md:justify-end py-6;
  }
  .action__go-to-blog {
    @apply py-4 hover:underline font-menlo;
  }
</style>
