---
export const prerender = true

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'
import Prose from '$/components/Prose.astro'
import type { Frontmatter } from '$/types'
import {
  makeQiitaPosts,
  makeZennPosts,
  makeNotePosts,
  extractSlugFromMd,
  sortPostsByPubDate,
} from '$/utils'

const title = "mimu's blog"
const description = "mimu's personal tech blog"

const ownedMd = await Astro.glob<Frontmatter>('../content/owned/*.mdx'),
  qiitaPosts = await makeQiitaPosts(),
  zennPosts = await makeZennPosts(),
  notePosts = await makeNotePosts()
const ownedPosts: Frontmatter[] = ownedMd.map((post) => {
  return {
    pubDate: post.frontmatter.pubDate,
    title: post.frontmatter.title,
    link: extractSlugFromMd(post),
    media: 'owned',
  }
})

const posts = sortPostsByPubDate([
  ...ownedPosts,
  ...qiitaPosts,
  ...zennPosts,
  ...notePosts,
]).slice(0, 10)
---

<DefaultPageLayout
  content={{ title, description }}
  showPageHeader={false}
  enableTransition={true}
>
  <PostPreviewList posts={posts} heading="recent posts" />
  <div class="page__actions">
    <a class="action__go-to-blog ink-h" href="/blog" title="All Posts">
      All Posts &rarr;
    </a>
  </div>
</DefaultPageLayout>

<style>
  .author-card {
    @apply h-48 w-48 md:h-56 bg-theme-primary dark:bg-theme-dark-primary rounded-full md:rounded-md shadow-lg;
  }
  .author-card img {
    @apply rounded-full h-48 w-48 md:h-56;
  }
  .page__actions {
    @apply flex justify-center md:justify-end py-6;
  }
  .action__go-to-blog {
    @apply py-4 hover:underline;
  }
</style>
