---
import type { Tag } from '$/content/config'

const {
  items,
  textSize = 'sm',
  postSlug,
} = Astro.props as {
  items: Tag[]
  textSize: 'sm' | 'base' | 'lg'
  postSlug: string
}
---

<ul class="tag-list">
  {
    items.map((item, index) => (
      <a
        class:list={[
          'tag',
          textSize === 'sm' && 'text-sm',
          textSize === 'base' && 'text-base',
          textSize === 'lg' && 'text-lg',
        ]}
        href={`/tags/${item}`}
        title={item}
        transition:name={`item${index + 1}:${postSlug}`}
      >
        {item}
      </a>
    ))
  }
</ul>
<style>
  .tag-list {
    @apply list-none py-2 flex flex-wrap gap-2;
  }
  .tag {
    @apply inline-block text-sm px-4 py-1 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary;
  }
</style>
