---
import PostPreview from './PostPreview.astro'
import type { Frontmatter } from '$/types'

interface Props {
  posts: Frontmatter[]
  heading?: string
  mode?: 'row' | 'col'
}

const { posts, heading, mode = 'col' } = Astro.props
---

{
  heading ? (
    <h5 class={`post-preview__heading post-preview__heading--${mode} ink-h`}>
      {heading}
    </h5>
  ) : (
    ''
  )
}
<section class={`post-preview-list post-preview-list--${mode}`}>
  <ul class="grid grid-cols-2 gap-6">
    {
      posts.map((post) => (
        <PostPreview post={post} asCard={mode === 'row' ? true : false} />
      ))
    }
  </ul>
</section>
<style>
  .post-preview__heading {
    @apply pl-0 sm:pl-6 mb-6;
  }
  .post-preview__heading--row {
    @apply pl-0;
  }
</style>
