---
import type { Tag } from '$/types'

const {
  name,
  count,
  textSize = 'sm',
} = Astro.props as {
  name: Tag
  count?: number
  textSize: 'sm' | 'base' | 'lg'
}
---

<a
  class:list={[
    'font-menlo flex gap-1 md:gap-3 items-center inline-block text-sm px-4 py-1 rounded-full bg-theme-dark-primary dark:bg-theme-primary hover:bg-cyan-400 dark:hover:bg-cyan-600',
    textSize === 'lg' && 'text-base md:text-lg',
    textSize === 'base' && 'text-sm md:text-base',
  ]}
  href={`/tags/${name}`}
  title={name}
>
  {name}
  {
    count && (
      <div class="flex items-center dark:text-theme-primary dark:bg-theme-dark-primary px-2 rounded-full bg-theme-primary text-white">
        {count}
      </div>
    )
  }
</a>
