---
import type { TagCount } from '$/types'

const {
  items,
  textSize = 'sm',
  visibleCount = false,
} = Astro.props as {
  items: TagCount[]
  textSize: 'sm' | 'base' | 'lg'
  visibleCount?: boolean
}
---

<ul class="tag-list">
  {
    items.map((item, index) => (
      <a
        class:list={[
          'tag',
          textSize === 'lg' && 'tag__text-lg',
          textSize === 'base' && 'tag__text-base',
        ]}
        href={`/tags/${item.name}`}
        title={item.name}
      >
        {item.name}
        {visibleCount && <div class="tag-count">{item.count}</div>}
      </a>
    ))
  }
</ul>
<style>
  .tag-list {
    @apply list-none py-2 flex flex-wrap gap-2;
  }
  .tag {
    @apply font-menlo flex gap-3 items-center inline-block text-sm px-4 py-1 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary;
  }
  .tag__text-base {
    @apply text-base;
  }

  .tag__text-lg {
    @apply text-lg;
  }
  .tag-count {
    @apply flex items-center dark:text-theme-primary dark:bg-theme-dark-primary px-2 rounded-full bg-theme-primary text-white;
  }
</style>
